@use './sass/variables';
@use './sass/media';
@use '../colors/sass/variables' as variablesc;
@use 'sass:map';
@use '../units/units.scss';

/*

This file was created by Canasta Rosa 
under the MIT license.

*/

/*
CANASTA'S CONTAINERS
The CDS layout consists of a main container and various sections.
Every new page needs all it's components in sections and those sections wrapped in the main container, for example:

     Container 
|------------------|
|------------------|
|     section      |
|------------------|
|------------------|
|     section      |
|------------------|

A default section has it's max width at 1200px by default but you can andd modifiers to it such as wide.

*/

.cr-hgt {
  @include variables.size-utility();
}

.cr-wdt {
  @include variables.size-utility(width);
}

.cr-mrgn {
  @include variables.space-utility();
}

.cr-pdd {
  @include variables.space-utility(padding);
}

.cr__container {
  min-height: map.get(variables.$spaces, "size20");
  width: 100%;
  max-width: variables.$maxWidthDesktop;
  &--full {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.cr__section {
  max-width: variables.$maxWidthDesktop;
  min-height: map.get(variables.$spaces, "size20");
  width: 100%;
  padding: 0 units.em(20);
  &--full {
    padding: 0;
    width: 100%;
    min-height: map.get(variables.$spaces, "size20");
    max-width: 100%;
  }
  @include media.tablet {
    padding: 0 units.em(10);
    &--full {
      max-width: 100%;
      padding: 0;
    }
  }
  @include media.mobile {
    padding: 0 units.em(10);
    &--full {
      width: 100%;
      padding: 0;
    }
  }
}
