/*

This file was created by Canasta Rosa 
under the MIT license.

*/
@use '../../theme/units/units.scss';
.error {
  background-color: red;
  color: white;
  padding: units.em(10);
  border-radius: units.em(3);
}
