/*

This file was created by Canasta Rosa 
under the MIT license.

*/

/*
CANASTA'S COLORS SASS
These are the colors that form our pretty site, every shade has a scale from 100 to 400;
100 been the lightest and 400 been the darkest and been 300 the default shade, 
please use it wisely.
*/

//---------------Primaries---------------//
$colors: (
  //Main -- This are the flagship colors.
    "main100": #f6cdd3,
  "main200": #e67787,
  "main300": #e63976,
  //This is the main color fo Canasta rosa
    "main400": #d83970,
  //Deep -- As of MIJO 1.1.0 This is the complementary color of our main one. Please use clear text colors if you are using this as a background.
    "deep100": #8080a5,
  "deep200": #34344b,
  "deep300": #21212c,
  "deep400": #161620,
  //Dark  -- This is the color that we use for text
    "dark100": #6b6b7a,
  "dark200": #494953,
  "dark300": #37373e,
  //This is the main and default color of our text.
    "dark400": #2b2b30,
  //Gray -- These are the gray shades of our site.
    "white": #ffffff,
  "gray100": #f1f1f1,
  "gray200": #dad8d6,
  "gray300": #b7b7b7,
  "gray400": #898989,
  //---------------Secondaries---------------//
    //Yellow -- A true sun beam.
    "yellow100": #fffbf0,
  "yellow200": #f8efc0,
  "yellow300": #f8db6a,
  "yellow400": #8f7d1d,
  //Turquiose
    "turquiose100": #c0ffee,
  "turquiose200": #5bc3a7,
  "turquiose300": #1db592,
  "turquiose400": #217856,
  //Red -- Blood and stuff
    "red100": #ffcccc,
  "red200": #e76e6e,
  "red300": #cc3131,
  //The default alert color.
    "red400": #960400,
  //Orange
    "orange100": #ffc6a8,
  "orange200": #ff894b,
  "orange300": #fd5440,
  "orange400": #c43121,
  //Peach --  Cuteness in color
    "peach100": #faf7f5,
  "peach200": #f5d7d4,
  "peach300": #f0a69f,
  "peach400": #c4645c,
  //---------------Terciaries---------------//
    //Brown -- Wood and ground
    "brown100": #fcf7f1,
  "brown200": #ffdecc,
  "brown300": #e09d51,
  "brown400": #743815,
  //Lime
    "lime100": #e3f7c7,
  "lime200": #a1ce5e,
  "lime300": #78a028,
  "lime400": #547404,
  //Green
    "green100": #c9f7c7,
  "green200": #85e282,
  "green300": #3cb638,
  "green400": #1c7718,
  //Aqua  -- Almost Blue.
    "aqua100": #ccf7ff,
  "aqua200": #8de4ec,
  "aqua300": #20bdc0,
  "aqua400": #00707c,
  //Blue  -- Like the sea!.
    "blue100": #ccdbff,
  "blue200": #5571e1,
  "blue300": #3350c4,
  "blue400": #0d1b54,
  //Violet
    "violet100": #f1dbf0,
  "violet200": #d189d1,
  "violet300": #993c86,
  "violet400": #501e4d,
  //Purple
    "purple100": #e7ccff,
  "purple200": #c184f7,
  "purple300": #822bce,
  "purple400": #601f99
);

@mixin color-modifiers($property: "color") {
  @each $name, $hex in $colors {
    &-#{$name} {
      #{$property}: $hex;
    }
  }
}
