.cssBase {
  overflow: hidden;
  margin: 10px;
  position: relative;
}

.cssFullWrapper {
  width: 185px;
  height: 30px;
}
.cssIsotypeWrapper {
  width: 31px;
  height: 30px;
}

.cssImageBase {
  position: absolute;
}

.cssNegative {
  top: -31px;
}

.cssIsoType {
  top: -62px;
}

.cssIsotypeNegative {
  top: -62px;
  left: -31px;
}
