/*

This file was created by Canasta Rosa 
under the MIT license.

*/

/*
CANASTA'S TYPOGRAPHY BASICS
These are the basics of our typography beahivours.
*/

@use "./sass/variables--sizes" as variablessz;
@use "../layout/sass/media";
@import url('https://fonts.googleapis.com/css?family=Sarabun:200,300,300i,400,400i,500,500i,600,600i,700,700i');
@import './sass/icons';

body {
  font-family: 'Sarabun', Arial, Helvetica, sans-serif;
}

//Text align
.cr-txtaln {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-justify {
    text-align: justify;
  }
}
//Text size TODO add micro
.cr-txtsz {
  &-title {
    &-dktp {
      font-size: variablessz.$titleDesktop;
    }
    &-tbt {
      font-size: variablessz.$titleTablet;
    }
    &-mbl {
      font-size: variablessz.$titleMobile;
    }
  }
  &-subtitle {
    &-dktp {
      font-size: variablessz.$subtitleDesktop;
    }
    &-tbt {
      font-size: variablessz.$subtitleTablet;
    }
    &-mbl {
      font-size: variablessz.$subtitleMobile;
    }
  }
  &-subtitle2 {
    &-dktp {
      font-size: variablessz.$subtitle2Desktop;
    }
    &-tbt {
      font-size: variablessz.$subtitle2Tablet;
    }
    &-mbl {
      font-size: variablessz.$subtitle2Mobile;
    }
  }
  &-subtitle3 {
    &-dktp {
      font-size: variablessz.$subtitle3Desktop;
    }
    &-tbt {
      font-size: variablessz.$subtitle3Tablet;
    }
    &-mbl {
      font-size: variablessz.$subtitle3Mobile;
    }
  }
  &-paragraph {
    &-dktp {
      font-size: variablessz.$paragraphDesktop;
    }
    &-tbt {
      font-size: variablessz.$paragraphTablet;
    }
    &-mbl {
      font-size: variablessz.$paragraphMobile;
    }
  }
  &-caption {
    &-dktp {
      font-size: variablessz.$captionDesktop;
    }
    &-tbt {
      font-size: variablessz.$captionTablet;
    }
    &-mbl {
      font-size: variablessz.$captionMobile;
    }
  }
  &-micro {
    &-dktp {
      font-size: variablessz.$microDesktop;
    }
    &-tbt {
      font-size: variablessz.$microTablet;
    }
    &-mbl {
      font-size: variablessz.$microMobile;
    }
  }
}

@mixin fontRhythm($sizeValue: 1em) {
  @if ($sizeValue < 1.2em) {
    $heightValue: $sizeValue * 1.25;
    font-size: $sizeValue;
    line-height: $heightValue;
    font-display: swap;
  } @else {
    @if ($sizeValue < 2em and $sizeValue > 1.2em) {
      $heightValue: $sizeValue * 0.7;
      font-size: $sizeValue;
      line-height: $heightValue;
      font-display: swap;
    } @else {
      $heightValue: $sizeValue * 0.3;
      font-size: $sizeValue;
      line-height: $heightValue;
      font-display: swap;
    }
  }
}
//Text molecules
.cr__text {
  margin: 10px 0 0 0;
  &--title {
    font-weight: 600;
    @include fontRhythm(variablessz.$titleDesktop);
  }

  &--subtitle {
    font-weight: 600;
    @include fontRhythm(variablessz.$subtitleDesktop);
  }

  &--subtitle2 {
    font-weight: 600;
    @include fontRhythm(variablessz.$subtitle2Desktop);
  }

  &--subtitle3 {
    font-weight: 600;
    @include fontRhythm(variablessz.$subtitle3Desktop);
  }

  &--button {
    font-weight: 400;
    @include fontRhythm(variablessz.$buttonDesktop);
  }

  &--paragraph {
    font-weight: 400;
    @include fontRhythm(variablessz.$paragraphDesktop);
  }

  &--caption {
    font-weight: 400;
    @include fontRhythm(variablessz.$captionDesktop);
  }
  &--micro {
    font-weight: 400;
    @include fontRhythm(variablessz.$microDesktop);
  }

  @include media.tablet {
    &--title {
      font-weight: 600;
      @include fontRhythm(variablessz.$titleTablet);
    }

    &--subtitle {
      font-weight: 600;
      @include fontRhythm(variablessz.$subtitleTablet);
    }

    &--subtitle2 {
      font-weight: 600;
      @include fontRhythm(variablessz.$subtitle2Tablet);
    }

    &--subtitle3 {
      font-weight: 600;
      @include fontRhythm(variablessz.$subtitle3Tablet);
    }

    &--button {
      font-weight: 400;
      @include fontRhythm(variablessz.$buttonTablet);
    }

    &--paragraph {
      font-weight: 400;
      @include fontRhythm(variablessz.$paragraphTablet);
    }

    &--caption {
      font-weight: 400;
      @include fontRhythm(variablessz.$captionTablet);
    }
    &--micro {
      font-weight: 400;
      @include fontRhythm(variablessz.$microTablet);
    }
  }

  @include media.mobile {
    &--title {
      font-weight: 600;
      @include fontRhythm(variablessz.$titleMobile);
    }

    &--subtitle {
      font-weight: 600;
      @include fontRhythm(variablessz.$subtitleMobile);
    }

    &--subtitle2 {
      font-weight: 600;
      @include fontRhythm(variablessz.$subtitle2Mobile);
    }

    &--subtitle3 {
      font-weight: 600;
      @include fontRhythm(variablessz.$subtitle3Mobile);
    }

    &--button {
      font-weight: 400;
      @include fontRhythm(variablessz.$buttonMobile);
    }

    &--paragraph {
      font-weight: 400;
      @include fontRhythm(variablessz.$paragraphMobile);
    }

    &--caption {
      font-weight: 400;
      @include fontRhythm(variablessz.$captionMobile);
    }
    &--micro {
      font-weight: 400;
      @include fontRhythm(variablessz.$microMobile);
    }
  }
}
