@import 'icon--variables';

@font-face {
  font-family: '#{$icomoon-font-family}';
  /*src:url('../../assets/fonts/canasta_sans/canasta-sans.ttf') format('truetype');*/
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='cr--icon--'],
[class*=' cr--icon--'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cr--icon--angle--down {
  &:before {
    content: $cr--icon--angle--down;
  }
}
.cr--icon--angle--left {
  &:before {
    content: $cr--icon--angle--left;
  }
}
.cr--icon--angle--right {
  &:before {
    content: $cr--icon--angle--right;
  }
}
.cr--icon--angle--up {
  &:before {
    content: $cr--icon--angle--up;
  }
}
.cr--icon--arrow---left {
  &:before {
    content: $cr--icon--arrow---left;
  }
}
.cr--icon--arrow--down {
  &:before {
    content: $cr--icon--arrow--down;
  }
}
.cr--icon--arrow--right {
  &:before {
    content: $cr--icon--arrow--right;
  }
}
.cr--icon--arrow--up {
  &:before {
    content: $cr--icon--arrow--up;
  }
}
.cr--icon--basket--negative {
  &:before {
    content: $cr--icon--basket--negative;
  }
}
.cr--icon--basket {
  &:before {
    content: $cr--icon--basket;
  }
}
.cr--icon--calendar {
  &:before {
    content: $cr--icon--calendar;
  }
}
.cr--icon--card {
  &:before {
    content: $cr--icon--card;
  }
}
.cr--icon--cart {
  &:before {
    content: $cr--icon--cart;
  }
}
.cr--icon--categories {
  &:before {
    content: $cr--icon--categories;
  }
}
.cr--icon--check--negative {
  &:before {
    content: $cr--icon--check--negative;
  }
}
.cr--icon--check {
  &:before {
    content: $cr--icon--check;
  }
}
.cr--icon--cross {
  &:before {
    content: $cr--icon--cross;
  }
}
.cr--icon--eye--crossed {
  &:before {
    content: $cr--icon--eye--crossed;
  }
}
.cr--icon--eye {
  &:before {
    content: $cr--icon--eye;
  }
}
.cr--icon--filter {
  &:before {
    content: $cr--icon--filter;
  }
}
.cr--icon--grid--filled {
  &:before {
    content: $cr--icon--grid--filled;
  }
}
.cr--icon--grid--negative {
  &:before {
    content: $cr--icon--grid--negative;
  }
}
.cr--icon--grid {
  &:before {
    content: $cr--icon--grid;
  }
}
.cr--icon--heart--negative {
  &:before {
    content: $cr--icon--heart--negative;
  }
}
.cr--icon--heart {
  &:before {
    content: $cr--icon--heart;
  }
}
.cr--icon--home {
  &:before {
    content: $cr--icon--home;
  }
}
.cr--icon--lock {
  &:before {
    content: $cr--icon--lock;
  }
}
.cr--icon--orders {
  &:before {
    content: $cr--icon--orders;
  }
}
.cr--icon--pencil {
  &:before {
    content: $cr--icon--pencil;
  }
}
.cr--icon--pin {
  &:before {
    content: $cr--icon--pin;
  }
}
.cr--icon--profile {
  &:before {
    content: $cr--icon--profile;
  }
}
.cr--icon--question--negative {
  &:before {
    content: $cr--icon--question--negative;
  }
}
.cr--icon--question {
  &:before {
    content: $cr--icon--question;
  }
}
.cr--icon--search {
  &:before {
    content: $cr--icon--search;
  }
}
.cr--icon--share {
  &:before {
    content: $cr--icon--share;
  }
}
.cr--icon--star--half {
  &:before {
    content: $cr--icon--star--half;
  }
}
.cr--icon--star--negative {
  &:before {
    content: $cr--icon--star--negative;
  }
}
.cr--icon--star {
  &:before {
    content: $cr--icon--star;
  }
}
.cr--icon--sun--cloudy {
  &:before {
    content: $cr--icon--sun--cloudy;
  }
}
.cr--icon--sun {
  &:before {
    content: $cr--icon--sun;
  }
}
.cr--icon--transfer {
  &:before {
    content: $cr--icon--transfer;
  }
}
.cr--icon--trash {
  &:before {
    content: $cr--icon--trash;
  }
}
.cr--icon--truck {
  &:before {
    content: $cr--icon--truck;
  }
}
.cr--icon--warning--negative {
  &:before {
    content: $cr--icon--warning--negative;
  }
}
.cr--icon--warning {
  &:before {
    content: $cr--icon--warning;
  }
}
