$icomoon-font-family: 'canasta-sans' !default;
$icomoon-font-path: '../../assets/fonts/canasta_sans' !default;

$cr--icon--angle--down: '\e900';
$cr--icon--angle--left: '\e901';
$cr--icon--angle--right: '\e902';
$cr--icon--angle--up: '\e903';
$cr--icon--arrow---left: '\e904';
$cr--icon--arrow--down: '\e905';
$cr--icon--arrow--right: '\e906';
$cr--icon--arrow--up: '\e907';
$cr--icon--basket--negative: '\e908';
$cr--icon--basket: '\e909';
$cr--icon--calendar: '\e90a';
$cr--icon--card: '\e90b';
$cr--icon--cart: '\e90c';
$cr--icon--categories: '\e90d';
$cr--icon--check--negative: '\e90e';
$cr--icon--check: '\e90f';
$cr--icon--cross: '\e910';
$cr--icon--eye--crossed: '\e911';
$cr--icon--eye: '\e912';
$cr--icon--filter: '\e913';
$cr--icon--grid--filled: '\e914';
$cr--icon--grid--negative: '\e915';
$cr--icon--grid: '\e916';
$cr--icon--heart--negative: '\e917';
$cr--icon--heart: '\e918';
$cr--icon--home: '\e919';
$cr--icon--lock: '\e91a';
$cr--icon--orders: '\e91b';
$cr--icon--pencil: '\e91c';
$cr--icon--pin: '\e91d';
$cr--icon--profile: '\e91e';
$cr--icon--question--negative: '\e91f';
$cr--icon--question: '\e920';
$cr--icon--search: '\e921';
$cr--icon--share: '\e922';
$cr--icon--star--half: '\e923';
$cr--icon--star--negative: '\e924';
$cr--icon--star: '\e925';
$cr--icon--sun--cloudy: '\e926';
$cr--icon--sun: '\e927';
$cr--icon--transfer: '\e928';
$cr--icon--trash: '\e929';
$cr--icon--truck: '\e92a';
$cr--icon--warning--negative: '\e92b';
$cr--icon--warning: '\e92c';
