/*

This file was created by Canasta Rosa 
under the MIT license.

*/

/*
CANASTA'S TEXT STYLES
All our text are contained in variables and classes, please stick to this variables.
*/
@use '../../units/units';

/*-----------Text sizes variables----------------*/
//Title  -- Main title of pages the most weight over all.
$titleDesktop: units.em(48);
$titleTablet: units.em(40);
$titleMobile: units.em(32);
//Subtitle  -- As the name implies this style is for subtitles.
$subtitleDesktop: units.em(36);
$subtitleTablet: units.em(32);
$subtitleMobile: units.em(26);
//Subtitle 2 -- A subtitle but....smaller..
$subtitle2Desktop: units.em(28);
$subtitle2Tablet: units.em(24);
$subtitle2Mobile: units.em(22);
//Subtitle 3 -- The smallest of the subtitles.
$subtitle3Desktop: units.em(18);
$subtitle3Tablet: units.em(18);
$subtitle3Mobile: units.em(18);
//button -- The text style for buttons and such.
$buttonDesktop: units.em(20);
$buttonTablet: units.em(20);
$buttonMobile: units.em(20);
//paragraph -- As the name implies this one is for paragraphs.
$paragraphDesktop: units.em(16);
$paragraphTablet: units.em(16);
$paragraphMobile: units.em(16);
//caption -- The fine print.
$captionDesktop: units.em(13);
$captionTablet: units.em(13);
$captionMobile: units.em(13);
//micro -- Microscopic.
$microDesktop: units.em(10);
$microTablet: units.em(10);
$microMobile: units.em(10);
