@use '../../theme/colors/sass/variables';
@use 'sass:map';

.cssBase {
  width: "100%";
  display: flex;
  flex-direction: row;
}

.cssDebug {
  border-color: orangered;
}

.cssDebugTooltip {
  background-color: orangered;
}
