/*

This file was created by Canasta Rosa 
under the MIT license.

*/
/*
CANASTA'S COLORS SASS
These are the colors that form our pretty site, every shade has a scale from 100 to 400;
100 been the lightest and 400 been the darkest and been 300 the default shade, 
please use it wisely.
*/
@import url("https://fonts.googleapis.com/css?family=Sarabun:200,300,300i,400,400i,500,500i,600,600i,700,700i");
@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}
@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}
.cr__microInt--skeleton {
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  background-color: #ededed;
}
.cr__microInt--skeleton::before {
  content: "";
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.7) 50%,
    transparent 100%
  );
  animation: load 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

/*

This file was created by Canasta Rosa 
under the MIT license.

*/
/*

This file was created by Canasta Rosa 
under the MIT license.

*/
/*
CANASTA'S COLORS SASS
These are the colors that form our pretty site, every shade has a scale from 100 to 400;
100 been the lightest and 400 been the darkest and been 300 the default shade, 
please use it wisely.
*/
/*

This file was created by Canasta Rosa 
under the MIT license.

*/
/*
CANASTA'S WEB BREAKPOINTS
Currently the CDS only manages 3 main breakpoints mobile, tablet and desktop.
If necessary, a custom breakpoint can be issued but it needs to be documentented in the component's page in the CDS.
*/
/*

This file was created by Canasta Rosa 
under the MIT license.

*/
/*
CANASTA'S CONTAINERS
The CDS layout consists of a main container and various sections.
Every new page needs all it's components in sections and those sections wrapped in the main container, for example:

   main container 
|------------------|
|------------------|
|     section      |
|------------------|
|------------------|
|     section      |
|------------------|

A default section has it's max width at 1200px by default but you can andd modifiers to it such as wide.

*/
.cr__mainContainer {
  min-height: 10px;
  width: 100%;
}
.cr__mainContainer .cr__section {
  max-width: 75em;
  min-height: 1px;
}
.cr__mainContainer .cr__section--wide {
  max-width: 100%;
}

/*

This file was created by Canasta Rosa 
under the MIT license.

*/
/*
CANASTA'S MEDIA QUERIES
The CDS supports 3 main media queries mobile tablet and desktop
*/
/*

This file was created by Canasta Rosa 
under the MIT license.

*/
/*
CANASTA'S WEB BREAKPOINTS
Currently the CDS only manages 3 main breakpoints mobile, tablet and desktop.
If necessary, a custom breakpoint can be issued but it needs to be documentented in the component's page in the CDS.
*/
/*

This file was created by Canasta Rosa 
under the MIT license.

*/
/*
CANASTA'S TYPOGRAPHY BASICS
These are the basics of our typography beahivours.
*/
/*Basic functions

These are Canasta's typograhpy basic functions,
you can use this functions to export all in em rather than px, for standarization purposes.

*/
/* We use rythm for establishing line height and font size*/
/*

This file was created by Canasta Rosa 
under the MIT license.

*/
/*
CANASTA'S TEXT STYLES
All our text are contained in variables and classes, please stick to this variables.
*/
/*-----------Text sizes variables----------------*/
/*-----------Text classes----------------*/
body {
  font-family: "Sarabun", Arial, Helvetica, sans-serif;
}

.cr__text--title {
  font-weight: 700;
  font-size: 3em;
  line-height: 0.9em;
  font-display: swap;
}
.cr__text--subtitle {
  font-weight: 400;
  font-size: 2.25em;
  line-height: 0.675em;
  font-display: swap;
}
.cr__text--subtitle2 {
  font-weight: 400;
  font-size: 1.75em;
  line-height: 1.225em;
  font-display: swap;
}
.cr__text--subtitle3 {
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.40625em;
  font-display: swap;
}
.cr__text--button {
  font-weight: 400;
  font-size: 1.25em;
  line-height: 0.875em;
  font-display: swap;
}
.cr__text--paragraph {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25em;
  font-display: swap;
}
.cr__text--caption {
  font-weight: 400;
  font-size: 0.8125em;
  line-height: 1.015625em;
  font-display: swap;
}
@media screen and (min-width: 48.0005em) and (max-width: 63.938em) {
  .cr__text--title {
    font-weight: 700;
    font-size: 2.5em;
    line-height: 0.75em;
    font-display: swap;
  }
  .cr__text--subtitle {
    font-weight: 400;
    font-size: 2em;
    line-height: 0.6em;
    font-display: swap;
  }
  .cr__text--subtitle2 {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.05em;
    font-display: swap;
  }
  .cr__text--subtitle3 {
    font-weight: 400;
    font-size: 1.125em;
    line-height: 1.40625em;
    font-display: swap;
  }
  .cr__text--button {
    font-weight: 400;
    font-size: 1.25em;
    line-height: 0.875em;
    font-display: swap;
  }
  .cr__text--paragraph {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.25em;
    font-display: swap;
  }
  .cr__text--caption {
    font-weight: 400;
    font-size: 0.8125em;
    line-height: 1.015625em;
    font-display: swap;
  }
}
@media screen and (min-width: 20em) and (max-width: 47.938em) {
  .cr__text--title {
    font-weight: 700;
    font-size: 2em;
    line-height: 0.6em;
    font-display: swap;
  }
  .cr__text--subtitle {
    font-weight: 400;
    font-size: 1.625em;
    line-height: 1.1375em;
    font-display: swap;
  }
  .cr__text--subtitle2 {
    font-weight: 400;
    font-size: 1.375em;
    line-height: 0.9625em;
    font-display: swap;
  }
  .cr__text--subtitle3 {
    font-weight: 400;
    font-size: 1.125em;
    line-height: 1.40625em;
    font-display: swap;
  }
  .cr__text--button {
    font-weight: 400;
    font-size: 1.25em;
    line-height: 0.875em;
    font-display: swap;
  }
  .cr__text--paragraph {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.25em;
    font-display: swap;
  }
  .cr__text--caption {
    font-weight: 400;
    font-size: 0.8125em;
    line-height: 1.015625em;
    font-display: swap;
  }
}

/*

This file was created by Canasta Rosa 
under the MIT license.

*/
/*
CANASTA'S TYPOGRAPHY BASICS
These are the text alignments for the CDS
Use it like:

<p className='cr__textAlign--center'></p>
*/
.cr__textAlign--center {
  text-align: center;
}
.cr__textAlign--left {
  text-align: left;
}
.cr__textAlign--right {
  text-align: right;
}
.cr__textAlign--justify {
  text-align: justify;
}

/*

This file was created by Canasta Rosa 
under the MIT license.

*/
/*
CANASTA'S TEXT COLORS SASS
These are the colors that form our pretty site, every shade has a scale from 100 to 400;}
100 been the lightest and 400 been the darkest and been 300 the default shade, 
please use it wisely.
*/
.cr__textColor--main100 {
  color: #f6cdd3;
}
.cr__textColor--main200 {
  color: #e67787;
}
.cr__textColor--main300 {
  color: #e63976;
}
.cr__textColor--main400 {
  color: #d83970;
}
.cr__textColor--dark100 {
  color: #6b6b7a;
}
.cr__textColor--dark200 {
  color: #494953;
}
.cr__textColor--dark300 {
  color: #37373e;
}
.cr__textColor--dark400 {
  color: #2b2b30;
}
.cr__textColor--white {
  color: #ffffff;
}
.cr__textColor--gray100 {
  color: #ededed;
}
.cr__textColor--gray200 {
  color: #dad8d6;
}
.cr__textColor--gray300 {
  color: #b7b7b7;
}
.cr__textColor--gray400 {
  color: #898989;
}
.cr__textColor--yellow100 {
  color: #faf9f8;
}
.cr__textColor--yellow200 {
  color: #f8efc0;
}
.cr__textColor--yellow300 {
  color: #f8db6a;
}
.cr__textColor--yellow400 {
  color: #8f7d1d;
}
.cr__textColor--turquiose100 {
  color: #c0ffee;
}
.cr__textColor--turquiose200 {
  color: #5bc3a7;
}
.cr__textColor--turquiose300 {
  color: #1db592;
}
.cr__textColor--turquiose400 {
  color: #217856;
}
.cr__textColor--red100 {
  color: #fcc6c7;
}
.cr__textColor--red200 {
  color: #e6afaf;
}
.cr__textColor--red300 {
  color: #cc3131;
}
.cr__textColor--red400 {
  color: #960400;
}
.cr__textColor--brown100 {
  color: #fff8f2;
}
.cr__textColor--brown200 {
  color: #f6e1cf;
}
.cr__textColor--brown300 {
  color: #cfb39f;
}
.cr__textColor--brown400 {
  color: #b5a59c;
}
.cr__textColor--green100 {
  color: #e8fdc9;
}
.cr__textColor--green200 {
  color: #c8dcaa;
}
.cr__textColor--green300 {
  color: #78a028;
}
.cr__textColor--green400 {
  color: #547400;
}
.cr__textColor--aqua100 {
  color: #cbf7fb;
}
.cr__textColor--aqua200 {
  color: #a0d2d7;
}
.cr__textColor--aqua300 {
  color: #42aaac;
}
.cr__textColor--aqua400 {
  color: #00707c;
}
.cr__textColor--blue100 {
  color: #dee3fd;
}
.cr__textColor--blue200 {
  color: #bec3dc;
}
.cr__textColor--blue300 {
  color: #505087;
}
.cr__textColor--blue400 {
  color: #323764;
}
.cr__textColor--violet100 {
  color: #f1dbf0;
}
.cr__textColor--violet200 {
  color: #c8b4c8;
}
.cr__textColor--violet300 {
  color: #825a7a;
}
.cr__textColor--violet400 {
  color: #501e4d;
}

/*# sourceMappingURL=css.map */
