@use '../../theme/colors/sass/variables';
@use '../../theme/units/units.scss';
@use 'sass:map';

.debug {
  border: 1px green dashed;
}
.error {
  background-color: map.get(variables.$colors, "red300");
  border-color: map.get(variables.$colors, "red300");
  color: map.get(variables.$colors, "white");
  min-height: 30px;
}
.tooltip {
  position: absolute;
  background-color: green;
  color: map.get(variables.$colors, "white");
  padding: 0px 3px;
  transform: translateY(-100%);
}
