/*

This file was created by Canasta Rosa 
under the MIT license.

*/

@use './sass/variables';

//Background Color
.cr-bgc {
  @include variables.color-modifiers(background-color);

  &-transparent {
    background-color: transparent;
  }
}
//Border Color
.cr-bdrc {
  @include variables.color-modifiers(border-color);
  &-transparent {
    border-color: transparent;
  }
}
//Text Color
.cr-txtc {
  @include variables.color-modifiers();
  &-transparent {
    color: transparent;
  }
}
