/*

This file was created by Canasta Rosa 
under the MIT license.

*/

/*
CANASTA'S MEDIA QUERIES
The CDS supports 3 main media queries mobile tablet and desktop
*/

@use './variables';

@mixin mobile {
  @media screen and (min-width: #{variables.$minWidthMobile}) and (max-width: #{variables.$maxWidthMobile}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{variables.$minWidthTablet}) and (max-width: #{variables.$maxWidthTablet}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{variables.$minWidthDesktop}) {
    @content;
  }
}
