/*

This file was created by Canasta Rosa 
under the MIT license.

*/

@use '../../units/units';

/*
CANASTA'S WEB BREAKPOINTS
Currently the CDS only manages 3 main breakpoints mobile, tablet and desktop.
If necessary, a custom breakpoint can be issued but it needs to be documentented in the component's page in the CDS.
*/
$minWidthMobile: units.em(320);
$maxWidthMobile: units.em(767);
$minWidthTablet: units.em(768);
$maxWidthTablet: units.em(1023);
$minWidthDesktop: units.em(1024);
$maxWidthDesktop: units.em(1200);

/* General sizes */
$spaces: (
  "size5": units.em(5),
  "size10": units.em(10),
  "size15": units.em(15),
  "size20": units.em(20),
  "size25": units.em(25),
  "size30": units.em(30),
  "size35": units.em(35),
  "size40": units.em(40),
  "size45": units.em(45),
  "size50": units.em(50),
  "size55": units.em(55),
  "size60": units.em(60),
  "size65": units.em(65),
  "size70": units.em(70),
  "size75": units.em(75),
  "size80": units.em(80),
  "size85": units.em(85),
  "size90": units.em(90),
  "size95": units.em(95),
  "size100": units.em(100),
);

@mixin space-utility($attribute: "margin", $prefix: "-") {
  @each $name, $value in $spaces {
    &#{$prefix}#{$name} {
      #{$attribute}: $value;
    }
  }

  $newattribute: $attribute + "-bottom";
  @each $name, $value in $spaces {
    &-btm#{$prefix}#{$name} {
      #{$newattribute}: $value;
    }
  }

  $newattribute: $attribute + "-top";
  @each $name, $value in $spaces {
    &-top#{$prefix}#{$name} {
      #{$newattribute}: $value;
    }
  }

  $newattribute: $attribute + "-left";
  @each $name, $value in $spaces {
    &-lft#{$prefix}#{$name} {
      #{$newattribute}: $value;
    }
  }

  $newattribute: $attribute + "-right";
  @each $name, $value in $spaces {
    &-rgt#{$prefix}#{$name} {
      #{$newattribute}: $value;
    }
  }
}

@mixin size-utility($attribute: "height", $prefix: "-") {
  @each $name, $value in $spaces {
    &#{$prefix}#{$name} {
      #{$attribute}: $value;
    }
  }
}
