<link
  href="https://fonts.googleapis.com/css2?family=Sarabun&display=swap"
  rel="stylesheet"
/>
<link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico" />
<!-- Storybook override -->
<script>
  document.title = "MIJO Design System";
</script>

<script>
  window.onload = function () {
    var div = document.createElement("div");
    var logo = document.createElement("a");
    var addonElement = document.body;
    div.className = "mijo--banner";
    logo.className = "crd--logo";
    logo.href = "https://canastarosa.com/";
    addonElement.prepend(div);
    div.prepend(logo);
  };
</script>
<style>
  svg.sidebar-svg-icon {
    display: none;
  }
  span.sidebar-expander {
    border-left: 3.5px solid #37373e;
  }
  .mijo--banner {
    background-color: #21212c;
    color: #ededed;
    font-family: "Sarabun", sans-serif;
    font-weight: normal;
    height: 45px;
    display: flex;
    font-size: 14px;
    align-items: center;
    padding-left: 10px;
    text-decoration: none;
    border-bottom: #b7b7b7;
  }
  .crd--logo {
    height: 30px;
    background: url("static/media/logos/logoMap.png") 0px -31px;
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .crd--logo::after {
    content: "design & product";
    color: #ededed;
    padding-left: 190px;
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  div,
  span {
    font-family: "Sarabun", sans-serif;
  }

  #root > div {
    height: calc(100vh - 45px);
  }

  @media screen and (max-width: 599px) {
    #root > div > div:nth-child(2) > div {
      top: 45px;
    }
  }
</style>
