@use '../colors/sass/variables';
@use 'sass:map';
@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}

@keyframes load {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.cr__microInt--skeleton {
  min-width: 30px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  background-color: map.get(variables.$colors, "gray300");
  animation: load 1s infinite;
}
