@use '../../theme/units/units.scss';

.inputWrapper {
  border-width: thin;
  border-style: solid;
  display: flex;
  flex-direction: row;
  border-radius: units.em(3);
}

input.input {
  border: 0 none;
  padding: units.em(10) units.em(5);
  width: 100%;
  outline: 0;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonStyle {
  height: units.em(40);
  width: units.em(40);
  border-radius: units.em(3);
}
