@use '../../theme/colors/sass/variables';
.block {
  min-height: 10em;
}
.text {
  border-radius: 2em;
}
.title {
  height: 2em;
  border-radius: 2em;
}
.image {
  display: table;
  background: transparent;
}
