@use '../../theme/colors/sass/variables';
@use '../../theme/units/units.scss';
@use '../../theme/microInteractions/microinteractions.scss';
@use 'sass:map';

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}

.cssBase {
  padding: units.em(10);
  border-radius: units.em(3);
  border-width: units.em(0.65);
  border-style: solid;
  width: units.em(150);
  transition: ease 0.3s;
  text-decoration: none;
  text-align: center;
  display: block;
  position: relative;
  overflow: hidden;
  &::before {
    opacity: 0;
    transition: 0.3s ease;
    display: block;
    content: '';
    position: absolute;
    background-color: rgba(22, 22, 22, 0.1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &:hover:not(:disabled) {
    cursor: pointer;
    &::before {
      opacity: 1;
    }
  }

  &::after {
    display: none;
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: rgba(22, 22, 22, 0.15);
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;

    /* Center the ripple */
    top: 50%;
    left: 50%;

    animation: ripple 1s;
    opacity: 0;
  }
  &:focus:not(:active)::after {
    display: block;
  }
}

.cssIcon {
  display: table;
  border-radius: 50%;
  width: auto;
  height: auto;
  padding: units.em(5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cssError {
  border-color: map.get(variables.$colors, 'red300');
  background-color: map.get(variables.$colors, 'red300');
  color: map.get(variables.$colors, 'white');
}
